/* untuk tablet */
@media all and (max-width: 1000px) {
    .header-list a {
        margin: 0;
    }

    .main-desc {
        margin-right: 50px;
        margin-top: 10px;
    }
}


/* untuk smartphone */
@media all and (max-width: 670px) {
    .header-list {
        display: none;
    }
      
    .menu-icon {
        display: block;
    }

    .main {
        flex-direction: column;
        flex-flow: column-reverse;
        height: 500px;
        text-align: center;
    }

    .main-desc {
        margin: 0;
    }

    .main-image img {
        max-width: 160px;
    }

    .form-contact input, textarea {
        width: 90%;
    }

    footer {
        flex-flow: column-reverse;
        height: 280px;
        padding-bottom: 30px;
    }

    .footer-logo {
        text-align: center;
    }
}
